// SPDX-License-Identifier: GPL-2.0-only
/* Google "Zumapro" SoC - minimal bring-up (standalone) */
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "google,zumapro";
	#address-cells = <2>;
	#size-cells = <2>;

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		ramoops@fd3ff000 {
			compatible = "ramoops";
			reg = <0 0xfd3ff000 0 0x00400000>;
			console-size = <0x200000>;
			pmsg-size = <0x200000>;
			no-map;
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		CPU0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-x3";
			reg = <0x000>;
			enable-method = "psci";
		};
		CPU1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a715";
			reg = <0x001>;
			enable-method = "psci";
		};
		CPU2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a715";
			reg = <0x002>;
			enable-method = "psci";
		};
		CPU3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a715";
			reg = <0x003>;
			enable-method = "psci";
		};
		CPU4: cpu@4 {
			device_type = "cpu";
			compatible = "arm,cortex-a715";
			reg = <0x004>;
			enable-method = "psci";
		};
		CPU5: cpu@5 {
			device_type = "cpu";
			compatible = "arm,cortex-a510";
			reg = <0x005>;
			enable-method = "psci";
		};
		CPU6: cpu@6 {
			device_type = "cpu";
			compatible = "arm,cortex-a510";
			reg = <0x006>;
			enable-method = "psci";
		};
		CPU7: cpu@7 {
			device_type = "cpu";
			compatible = "arm,cortex-a510";
			reg = <0x007>;
			enable-method = "psci";
		};
		// CPU8: cpu@8 {
		// 	device_type = "cpu";
		// 	compatible = "arm,cortex-a510";
		// 	reg = <0 0x8>;
		// 	enable-method = "psci";
		// };
	};

	gic: interrupt-controller@10400000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		interrupt-controller;
		reg = <0 0x10400000 0 0x00010000>,
		      <0 0x10440000 0 0x00200000>;
	};

	/* Disabled platform stubs for safety */
	clocks: clock-controller@26040000 {
		compatible = "google,zuma-clk", "google,zumapro-clk";
		#clock-cells = <1>;
		status = "disabled";
	};

	pinctrl: pinctrl@10840000 {
		compatible = "google,zuma-pinctrl", "google,zumapro-pinctrl";
		status = "disabled";
	};

	usb2phy: phy@11100000 {
		compatible = "google,zuma-usb2-phy", "google,zumapro-usb2-phy";
		#phy-cells = <0>;
		status = "disabled";
	};
};
